/target
target
.settings/*
.settings/.jsdtscope
.project
.classpath
/src/main/webapp/static/css/icando.min.css
/src/main/webapp/static/js/icando.min.js
/src/main/webapp/static/js/lib.min.js
/translation_en.properties
/translation_zh_CN.properties
/target/test-classes
/target/.wro4j
/target/generated-sources
/target/generated-test-sources
/target/icando
/target/m2e-wtp
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/src/main/webapp/static/demo/globals/plugins/medium-editor/dist/*.DS_Store
/src/main/webapp/static/demo/admin1/*.DS_Store
.DS_Store
